[Unit]
Description=Check for suppressed application log messages every five minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
